body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .heading {
    border: 2px solid darkolivegreen;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: cornsilk;
  }
  
  .joke-container {
    border: 2px solid darkolivegreen;
    border-radius: 6px;;
    padding: 20px;
    margin-bottom: 20px;
    background-color: cornsilk;
  }
  
  .joke-box {
    border: 1px solid darkolivegreen;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;;
  }
  
  .joke-text {
    font-size: 16px;
  }
  
  #char-count {
    font-size: 0.8em;
    color: gray;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #299cb6;
    border: 1px solid darkolivegreen;
    border-radius:2px;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #195375;
  }